

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 0 3rem;
    
}

h1  {
    display: flex;
    justify-content: center;
    text-align: center;
}

.colz-icon1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: start;
    margin-top: -5%;
    margin-right: 3%; 
}



