.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 5px;
    left: 0;
    bottom: 2rem;
    right: 0;
}
.about-container {
    
    left: 0;
    bottom: 0;
    right: 0;
}
.gitHub {
    width: 10%;
    
}

.linkedIn {
    width: 15%;
}


.colz-icon {
    display: flex;
    justify-content: center;
    align-content: space-between;  
    margin: 0 auto;
}

.colz-icon div {
    padding: 6px;
}