.connect {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    left: 0;
    bottom: 2rem;
    right: 0;
}
.about-container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.gitHub {
    width: 7%;
}

.linkedIn {
    width: 10%;
}


.colz-icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}