h1 {
    text-align: center;
}

.projects {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    height: 17rem;
    padding: 1rem;
}

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.logos {
    height: 4.5rem;
    padding: 1rem;
    
    
}


