h1 {
    text-align: center;
}

.projects {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    height: 17rem;
    padding: 1rem;
}

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.logos {
    height: 4.5rem;
    padding: 1rem;
}

/* .logos1 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    align-content: space-evenly;
    
}
.logos2 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos3 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos4 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos5 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos6 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos7 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos8 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos9 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos10 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos11 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
}
.logos12 {
    height: 4.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: wrap;
} */


