
/* .btn {
    border-radius: 75px;
    padding: 2px 20px;
    height: 50px;
    width: 125px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 10px;
    background-color: #5c5e5f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 98%;
    margin-top: -20%;
} */

  
